/*@charset "UTF-8";*/

/*body {
	display: block;
	
	font-family: Cambria , Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container-fluid header{
	display:flex;
}

a , a:hover {
	text-decoration: none;
}

.header{
	background-color: #736D6D;
	height: 40px;

}
.head p {
	text-align: center;
	color: white;
}
.lognav {
	display: block;
	height: 40px;
}
.logo {
display: flex;
    justify-content: center;
    background-color: #56CB62;
	height: 38px;
	width: 200px;
	float: left;
	margin: 1px;
	border-radius: 0px 0px 4px 4px;
	
}
.logname {
	align-self: center;
	text-align: center;
	font-weight: bold;
}


.form_trans{
	display: flex;
	flex-direction: row;
	background-color: #ADA3A3;
	width: 700px;
	height: 150px;
}

.menu{
	float: right;
 color: #000000;	

}


.menu a {
	color: #000000;
	padding: 15px;	
}

.menu a:hover{
	color: #377DE7;
}

.reperage{
	color: #736D6D;
}

.reperage p {
	color: #377DE7;
}

.container{
	margin-top:20px;
	padding : 200px;
	width: 700px;
}

.table-trans{
	width: 700px;
	height: 360px;
}

tr {
	
	width: 700px;
	height: 90px;
}*/




 
      


       
 
