<!DOCTYPE html>

<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
	
		<meta charset="UTF-8">
		<title>Contact</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" href="../static/css/contact.css"  th:href="@{/css/contact.css}">
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
 		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

		
</head>
<body>
	
		
		<header class= "container-fluid header text-white d-flex justify-content-center bg-secondary">
					<p>Pay My Buddy</p>	
		</header>	
			<div class =" d-flex lognav justify-content-between">
					<div style=" border-radius: 4px;" class="logo align-content-start bg-success ">
						<a  style ="text-decoration : none;  padding: auto; border-radius: 6px;" href="/home" class="text-white ">
							<p>Pay My Buddy</p>
						</a>
					</div>
					
					<nav class=" nav   justify-content-between ">
							<li class="nav-item text-black">
								<a class="nav-link"href="/home">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link"href="/transfer">Transfer</a>
							</li>
							<li class="nav-item">
								<a class="nav-link"href="/profil">Profile</a>
							</li>
							<li class="nav-item">
								<a class="nav-link"href="/contact">Contact</a>
							</li>
							<li class="nav-item">
									<form method="post" action="#" th:action="@{/logout}"  class="inline">
											<button type="submit" name="logout" value="logout" class="nav-link">
												LogOff  
											</button>
									</form>
							</li>
					</nav>
															
			</div>
			 
		
 <div style="background-color: #ddd;" class="  reperage">
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a  style ="text-decoration : none;  padding: 6px; " href="/home">Home</a></li>
			    <li class="breadcrumb-item"><a  style ="text-decoration : none;  padding: 6px; " href="/transfer">Transfer</a></li>
			    <li class="breadcrumb-item"><a   style ="text-decoration : none;  padding: 6px; "href="/profil">Profile</a></li>

			    <li class="breadcrumb-item active" aria-current="page">contact</a></li>
			  </ol>
			</nav>
	</div>
	<div class="d-flex container-fluid full-body justify-content-center">
		<h1>My Contacts</h1>
	</div>
	<table class="table  table-striped text-white ">
				
					<thead class="thead-dark">
						
						<tr >
						 <th>Name</th> 
						 <th>Adresse</th> 
					</tr>
						
					</thead>
					<tbody>
						
						<tr th:each="user,state:${users}"
					             class="align-baseline table" th:classappend="${state.odd} ? 'odd-table' : 'even-table'">
						<td th:text="${user.getName}">Name</td>
						<td th:text="${user.getEmail}">Adresse</td>
					</tr>
					
					</tbody>
					
			</table>


	<form class="  d-inline-flex form-tran align-baseline bg-striped border "
							 action="#" th:action="@{/contact}" th:object="${user}" method="post">	
					<h2>Add Connections</h2>
					<input type="email"  class="email"th:field="*{email}" placeholder="Enter the email connetion">
					<button class=" btn pay-button bg-success text-white" type="submit"  value="Save">Add</button>
				</form>
	
	
	

	
	

</body>
</html>